<div class="overlay" *ngIf="show">
    <div class="message">
        <!-- <div class="rotate"></div> -->
        <div class="lds-css ng-scope">
            <div class="lds-gear" >
                <div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>